@model IEnumerable<TaskManagementSystem.Entity.Task>

<h2>Tasks</h2>

<p>
    @Html.ActionLink("Add Task", "Add")
</p>

<table class="table">
    <tr>
        <th>Title</th>
        <th>Deadline</th>
        <th>Comments</th>
        <th>Actions</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Title</td>
            <td>@item.Deadline.ToShortDateString()</td>
            <td>@item.Comments</td>
            <td>
                @using (Html.BeginForm("Delete", "TaskManagement", new { id = item.Id }, FormMethod.Post))
                {
                    <button type="submit" class="btn btn-danger">Delete</button>
                }
            </td>
        </tr>
    }
</table>
